@tailwind base;
@tailwind components;
@tailwind utilities;
/* Recharts Legend Fix */
.recharts-legend-wrapper {
  position: relative !important;
  margin-bottom: 10px !important;
}

.recharts-default-legend {
  display: flex !important;
  justify-content: center !important;
  gap: 20px !important;
}
